# HapuaModel configuration file

ModelName = 'Hurunui hapua'

[BoundaryConditions]
RiverFlow = LagoonInflow.csv
WaveConditions = OffshoreWaves.csv
SeaLevel = SeaLevel.csv

[SpatialInputs]
# polyline shapefile of shoreline initial position
Shoreline = HurunuiShoreline.shp
# point shapefile of location river flows into lagoon
RiverLocation = RiverInflow.shp

[ModelSettings]
# Alongshore discretisation resolution (m)
AlongShoreDx = 20